@font-face {
    font-family: 'Nunito Sans';
    src: url(https://fonts.gstatic.com/s/nunitosans/v12/pe0qMImSLYBIv1o4X1M8cce9I9s.woff2) format('woff2');
}

@font-face {
    font-family: 'Nunito Sans Italic';
    src: url(https://fonts.gstatic.com/s/nunitosans/v12/pe0oMImSLYBIv1o4X1M8cce4E9lKdg.woff2) format('woff2');
}

@font-face {
    font-family: 'Yeseva One';
    src: url(https://fonts.gstatic.com/s/yesevaone/v20/OpNJno4ck8vc-xYpwWWxliNVWyXD.woff2) format('woff2');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Nunito Sans',Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    width: 116vw;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

button{
    cursor: pointer;
}

button:active {
  transform: translateY(4px);
}

/* Navigation */

.headnav {
    display: flex;
    width: 100%;
    height: 88.5px;
    min-height: 57px;
    background: #131313;
    color: #fff;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    position: fixed;
    z-index: 1;
}

.headnav__name {
    /* margin-left: 6.3%; */
    font-size: 69%;
    text-transform: uppercase;
    color: #E3B873;
    text-decoration: none;
}

.headnav__menu {
    /* margin-left: 8.5%; */
    width: 40.3vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.headnav__menu > li {
    display: inline-block;
    font-size: 69%;
    padding-left: 8.8%;
} 

.headnav__menu > li:first-child {
    padding-left: 0%;
}

.headnav__menu-item {
    text-decoration:none;
    color: #fff;
}

.headnav__menu-item:hover {
    color: #E3B873;
}

.headnav__phone {
    /* margin-left: 7.5%; */
    font-size: 69%;
    color: #E3B873;
    text-decoration: underline;
}

.headnav__button{
    /* margin-right: 7.5%; */
    width: 11%;
    height: 46%;
    background: #E3B873;
    border: 0;
    border-radius: 2px;
}

.headnav__button_title {
    font-size: 69%;
    font-style: italic;
    text-transform: uppercase;
    color: #fff;
}



/* Fistblock */



.fistblock {
    /* width: 100vh; */
    height: 750px;
    background-image: url("img/1_kitchen.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.fistblock__items{
    color: #fff;
    padding-top: 13.8%;
    padding-left: 8%;
}

.fistblock__title{
    font-family: 'Yeseva One', serif;
    text-transform: uppercase;
    font-size: 2vw;
    width: fit-content;
}

.fistblock__title__accent{
    color: #E3B873;
}

.fistblock__text{
    padding-top: 4.3vh;
    line-height:163.7%;
    font-size: 130%;
    width: fit-content;
}

.fistblock__buttons{
 padding-top: 4vh;
}

.fistblock__fistbutton{
color: #fff;
/* max-height: 3.51vh; */
width: 14.5vw;
height: 8vh;
background: #E3B873;
border: 0;
border-radius: 2px;
margin-right: 1vw;
font-size: 0.72vw;
}

.fistblock__secondbutton{
color: #fff;
/* max-height: 3.51vh; */
width: 14.5vw;
height: 8vh;
border: 1;
border-color: #fff;
border-radius: 2px;
background-color: rgba(255, 255, 255, 0);
font-size: 0.72vw;
}



/* Secondblock */



.secondblock {
    width: 100vw;
    height: 1145px;
    display: grid;
    grid-template-columns: 442px 755px;
    background: #131313;
    color: #fff;
    padding: 7.4% 9.4% 0 9.4%;
    box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.2);
    /* text-decoration: underline */
}

.secondblock__leftside {
    width: 460px;
    height: 390px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding-top: 16.8%;
    text-decoration: underline

}

.secondblock__title{
    font-size: 115%;
    text-transform: uppercase;
    font-family: 'Yeseva One', serif;
    color: #E3B873;
    text-decoration: underline #E3B873;
    line-height: 200%;
    letter-spacing: -1.7px;
}

.secondblock__text {
    font-size: 90%;
    padding-top: 6.4%;
    letter-spacing: -1px;
    word-spacing: 3px;
    line-height: 180%;
    padding-bottom: 11.5%; 
}

.secondblock__mobile_gallery{
    display: none;
}

.secondblock__items{
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 73px);
    grid-column-gap: 1.5px;
    grid-row-gap: 39px;
    padding-bottom: 69px;
}

.secondblock__items__title{
    text-transform: uppercase;
    font-family: 'Yeseva One', serif;
    color: #E3B873;
    text-decoration: underline;
    padding-bottom: 3%;
}

.secondblock__slider{
    width: 235px;
    height: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 47px);
    grid-template-rows: 16px;
    grid-gap: 0px;
    justify-items: center;
}

.secondblock__slider__circle {
    display: inline-block;
    background: rgba(255, 255, 255, 0.304);
    clip-path: circle(50%);
    height: 0.6em;
    width: 0.6em;
}

.secondblock__slider__circle:hover {
    background: #fff;

}

.secondblock__rightside{
    padding-left: 11.2%;
}

.secondblock__nav{
    padding-bottom: 8%;
}


.secondblock__nav__item {
    display: inline;
    text-transform: uppercase;
    font-family: 'Yeseva One', serif;
    padding-left: 8%; 
    word-spacing: -7px;  
}

.secondblock__nav__item:first-child {
    padding-left: 0%;
}

.secondblock__nav__item__link{
    color: #ffffff3a;
}

.secondblock__nav__item__link:hover{
    color: #E3B873;
    padding-bottom: 1%;
    border-bottom: 1px #E3B873 solid;
}

.secondblock__images{
 width: 102.5%;
}

.secondblock__online_control{
display: grid;
grid-template-rows: 30px 30px;
justify-items: center;
grid-column: span 2;
text-transform: uppercase;
font-family: 'Yeseva One', serif;
font-size: 115%;
padding-bottom: 17%;
padding-left: 4.5%;
}

.secondblock__online_control_img{
    padding-top: 1.3%;
    padding-right: 1%;
}


/* Video */
.video_conteiner{
    position: relative;
}

.video_conteiner__video {
    width: 872px;
    height: 463px;
    position: absolute;
    top: -250px; left: 325px;
    box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.2);
}


/* Third block */

.thirdblock {
    padding-top: 273px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(821px, 1fr));
    justify-items: center;
}

.thirdblock__line__conteiner{
    position: relative;
    grid-column: 2 span;
}

.thirdblock__line__item {
    width: 59px;
    height: 2px;
    margin: 0;
    border: none;
    color: #E3B873;
    background-color: #E3B873;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.thirdblock__text{
    grid-column: 2 span;
    width: 727px;
    margin-top: 2.5%;
    font-size: 112%;
    text-align: center;
    line-height: 200%;
}

.thirdblock__forms {
    display: flex;
    flex-wrap: wrap;
    margin-top: 6%;
    gap: 57px;
    justify-content: center;
    width: 820px;
    grid-column: 2 span;
}

.thirdblock__nameform__form {
    display: grid;
    width: 246px;
}

.thirdblock__nameform__form__input{
    border: 0px solid #36363630;
    border-bottom-width: 2px;
    padding-bottom: 5%;
}

.thirdblock__nameform__form__input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.thirdblock__nameform__form__input::placeholder{
    color: #363636;
}

.thirdblock__phoneform__form {
    display: grid;
    width: 246px;
}

.thirdblock__phoneform__form__input {
    border: 0px solid #36363630;
    border-bottom-width: 2px;
    padding-bottom: 5%;
}

.thirdblock__phoneform__form__input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.thirdblock__phoneform__form__input::placeholder {
    color: #363636;
}

.thirdblock__phoneform__form {
    display: grid;
}

.thirdblock__form__label{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #36363650;
}

.thirdblock__buttom__buttom{
    width: 214px;
    height: 55px;
    color: #fff;
    background-color: #E3B873;
    border: none;
    text-transform: uppercase;
    border-radius: 2px;
}



.thirdblock__checkbox__real-checkbox {
    width: 0;
	height: 0;
	opacity: 0;
	position: absolute;
	z-index: -1;
}

.thirdblock__checkbox__custom-checkbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #E3B873;
    border-radius: 1px;
    vertical-align: sub;
    background-color: #E3B873;
}

.thirdblock__checkbox__custom-checkbox::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("icons/checkbox.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    margin-top: 1px;
    transition: 0.2s ease-in;
}

.thirdblock__checkbox__real-checkbox:checked + .thirdblock__checkbox__custom-checkbox::before {
	transform: translate(-50%, -50%) scale(1);
}


/* Fourth  block */

.fourthblock{
    margin-top: 8.5%;
}

.fourthblock__types_of_repair_img{
    margin-top: 1%;
}

.fourthblock__types_of_repair{
    display: grid;
    grid-template-rows: 30px 30px;
    justify-items: center;
    text-transform: uppercase;
    font-family: 'Yeseva One', serif;
    font-size: 115%;
}

.fourthblock__wrapper {
    width: 100%;
    margin-top: 3%;

}

.fourthblock__images{
    display: flex;
    justify-content: space-around;
    gap: 32px;
    margin: 3% 97px 0% 97px;
}

 .fourthblock__images__item{
    width: 550px;
    height: 449.07px;
    position: static;
}

.images_item1{
    background-image: url("img/4,1_Redecorating.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.images_item2{
    background-image: url("img/4,2_Overhaul.jpg");
    background-repeat: no-repeat;
    background-size: contain;

}

.images_item3{
    background-image: url("img/4,3_Designer Repair.jpg");
    background-repeat: no-repeat;
    background-size: contain;

}

.fourthblock__lists{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3,420px);
    position: relative;
    grid-gap:32px;
    justify-items: center;
    /* gap: 60px; */
    padding: 0% 97px 0% 97px;
    bottom: 134px;
    
}

.fourthblock__lists__item{
    width: 352px;
    height: 306px;
    list-style-position: inside;
    background: #fff;
    padding-left: 28px;
    padding-top: 24px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.fourthblock__lists__item_title{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 12px;
}

.fourthblock__lists__item li{
    color: #36363650;
}

.fourthblock__titels{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3,420px);
    position: relative;
    grid-gap:32px;
    padding-left: 125px;
    position: relative;
    bottom: 163px;

}

.fourthblock__titels__item{
    display: grid;
    align-items: center;
    justify-items: center;
    background: #E3B873;
    width: 243.2px;
    height: 57.6px;
    color: #fff;
    text-transform:uppercase;
    font-family: 'Yeseva One';
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    font-weight: bold;
}


/* Fifth block */


.fifth_block_wrapper{
    display: flex;
    gap: 0px 147px ;
    height: 773px;
    width: 100%;
    flex-wrap: wrap;
    position: static;
}

.fifth_block_list{
    width: 749px;
    height: 688px;
    display: flex;
    flex-direction: column;
    background-image: url("img/5 bg.png");
    background-size:contain;
    background-repeat: no-repeat;
    padding-top: 80px;
    gap: 93px;
}

.fifth_block_list_item {
    display: grid;
    align-items: center;
    grid-template-columns: 52px 337px;
    margin-left: 270px;
    grid-gap: 20px;
}

.fifth_block_list_item_title{
    font-size: 14px;
}

.fifth_block_list_item_number {
    display: grid;
    align-items: center;
    width: 60px;
    height: 60px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    background-color: #E3B873;
    border: 8px solid #FFFFFF;
    color: #fff;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
}

.fifth_block_form{
    display: grid;
    grid-template-rows: repeat(6, 90px);
    margin-top: 76px;
    width: 535px;
    height: 538px;
    background: #131313;
    color: #ffffff50;
}

.fifth_block_form_title{
    padding-top: 30px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}

/*  */


.fifth_block__form_nameform {
    display: grid;
    width: 435px;
    margin-top: 30px;
    margin-left: 53px;
    font-size: 13px;
}

.fifth_block__form__input{
    border: 0px solid #ffffff15;
    border-bottom-width: 2px;
    padding-bottom: 9px;
    background-color: #131313;
    padding-top: 5px;
}

.fifth_block__form__input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.fifth_block__form__input::placeholder{
    color: #ffffff;
    font-size: 14px;
}

/*  */

.fifth_block__form_phoneform {
    display: grid;
    width: 435px;
    margin-top: 49px;
    margin-left: 53px;
    font-size: 13px;
}

.fifth_block__form__input{
    border: 0px solid #ffffff15;
    border-bottom-width: 2px;
    padding-bottom: 9px;
    background-color: #131313;
    padding-top: 5px;
}

.fifth_block__form__input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.fifth_block__form__input::placeholder{
    color: #ffffff;
    font-size: 14px;
}

/*  */

.fifth_block__form_email {
    display: grid;
    width: 435px;
    margin-top: 58px;
    margin-left: 53px;
    font-size: 13px;
}

.fifth_block__form__input{
    border: 0px solid #ffffff15;
    border-bottom-width: 2px;
    padding-bottom: 9px;
    background-color: #131313;
    padding-top: 5px;
    color: #fff;
}

.fifth_block__form__input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;

}

.fifth_block__form__input::placeholder{
    color: #ffffff;
    font-size: 14px;
}
    
/*  */

.fifth_block_form_checkbox{
    margin-left: 56px;
    margin-top: 36px;
}

.thirdblock__checkbox__real-checkbox {
    width: 0;
	height: 0;
	opacity: 0;
	position: absolute;
	z-index: -1;
}

.thirdblock__checkbox__custom-checkbox {
    position: relative;
    display: inline-block;
    width: 19px;
    height: 19px;
    border: 1px solid #E3B873;
    border-radius: 1px;
    vertical-align: sub;
    background-color: #E3B873;
}

.thirdblock__checkbox__custom-checkbox::before {
    content: '';
    display: inline-block;
    width: 19px;
    height: 19px;
    background-image: url("icons/checkbox.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    margin-top: 1px;
    transition: 0.2s ease-in;
}

.thirdblock__checkbox__real-checkbox:checked + .thirdblock__checkbox__custom-checkbox::before {
	transform: translate(-50%, -50%) scale(1);
}

.tfifth_block__checkbox__label{
    font-size: 14px;
    color: #fff;
}

.fifth_block_form_buttom{
    width: 227px;
    height: 54px;
    background-color:#E3B873;
    margin-top: 8px;
    margin-left: 265px;
    color: #fff;
    text-transform:uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.fifth_block_coins_wrapper{
    display: grid;
    width: 100%;
    justify-items: end;
    /* margin-right: 270px; */
    position: relative;
    bottom: 4.5%;
    right: 17.5%;
    
}

.fifth_block_coins{
    display: flex;
    align-items: center;
    align-content: flex-end;
}

.fifth_block_coins_title{
    font-size: 18px;
    color: #E3B873;
    margin-left: 26px;
}

/* Gallery block */

.gallery_block_wrapper{
    width: 100%;
    height: 915px;
    margin-top: 216px;
    display: flex;
    background-image: url("img/6_room.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    position: static;
}

.gallery_block_text{
    height: 922px;
    padding-top: 145px;
    padding-left: 106px;
}

.gallery_block_text_title{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
    margin-bottom: 49px;
}

.gallery_block_text_list a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 25px 0px 25px 0px;
    list-style: none;
}


.gallery_block_text_list li{  
    font-size: 20px;
    margin: 25px 0px 25px 0px;
    list-style: none;
}

.gallery_block_text_list li:hover{
    color: #E3B873;
    border-bottom: 1px #E3B873 solid;
}

.gallery_block_images{
    display: flex;
}

.gallery_block_images_left_side{
    display: grid;
    grid-template-columns: 378px;
    grid-template-rows: 595px 373px;
    position: relative;
    left: 31%;
    bottom: 5.5%;
    grid-gap: 39px;
}

.gallery_block_images_right_side{
    display: grid;
    grid-template-columns: 378px;
    grid-template-rows: 293px 667px;
    position: relative;
    left: 36.5%;
    bottom: 15%;
    grid-gap: 39px;
}

.gallery_block_item1{
    width: 377px;
    background-image: url("img/7_clock.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.gallery_block_item2{
    width: 377px;
    background-image: url("img/8_tv.jpg");
    background-size: contain;
    background-repeat: no-repeat;

}

.gallery_block_item3{
    width: 377px;
    background-image: url("img/9_sofa.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}


.gallery_block_item4{
    width: 377px;
    background-image: url("img/10_flower.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}



/* Clients  block */



.clients_block{
    margin-top: 7.4%;
}

.clients_block__tittle{
    margin-top: 2.5%;
    text-align: center;
    font-size: 18px;
}

.clients_block__logo_wrapper_img{
    margin-top: 1%;
}

.clients_block__logo_wrapper{
    display: grid;
    grid-template-rows: 30px 30px;
    justify-items: center;
    text-transform: uppercase;
    font-family: 'Yeseva One', serif;
    font-size: 115%;
}

.clients_block__wrapper {
    width: 100%;
    margin-top: 3%;

}

.clients_block__items{
    display: flex;
    justify-content: space-around;
    gap: 32px;
    margin: 3% 97px 0% 97px;
}

 .clients_block__client__item{
    width: 550px;
    height: 449.07px;
    position: static;
    padding-left: 2.5%;
    padding-top: 2%;
    padding-right: 3%;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.clients_block__client__item_wrapper{
    display: flex;
    align-items: center;
}

.clients_block__client__item_img {
    width: 82px;
}

.clients_block__client__item_name{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #131313;
    margin-left: 6%;
}

.clients_block__client__item__text {
    font-size: 13px;
    color: #959595;
    margin-top: 7%;
    line-height: 170%;
}

.clients_block__client__item__text p:nth-child(2){
    padding-top: 2.5%;
}

.clients_block__titels{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3,420px);
    position: relative;
    grid-gap:32px;
    padding-left: 97px;
    position: relative;
    bottom: 17px;

}

.clients_block__titels__item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background: #E3B873;
    width: 314px;
    height: 57.6px;
    color: #fff;
    text-transform:uppercase;
    font-family: 'Yeseva One';
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    font-weight: bold;
    font-size: 17px;
}

.clients_block__titels__item__left_item, .clients_block__titels__item__right_item{
    padding-left: 18.5px;
    display: flex;
    align-items: center;
}

.clients_block__titels__item__left_item{
    width: 141px;
    height: 57.6px;
    border-right: #fff 1px solid;
}

.clients_block__titels__item__right_item{
    width: 169px;
    height: 57.6px;
}

.clients_block__titels__item__left_item__text, .clients_block__titels__item__right_item__text{
    padding-left: 16px;
}

.clients_block_bg{
    margin-top: 6.5%;
    opacity: 0.05;
    background-image: url("img/12_bg_city.png");
    background-size: contain;
    height: 265px;
}


/* Questions_block */

.questions_block{
    width: 100vw;
    height: 0;
    position: static;
}

.questions_block_wrapper{
    width: 942px;
    height: 475px;
    padding: 37px 194px;
    background: #131313;
    position: relative;
    left: 19.6%;
    bottom: 245px;
}

.questions_block_title{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.questions_block_nameform_phoneform{
    display: flex;
    justify-content: space-between;
    padding-top: 3.5%;
}


.questions_block__form_nameform {
    display: grid;
    width: 246px;
    margin-top: 30px;
    font-size: 13px;
}

.questions_block__form__label{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
}

.questions_block__form__input{
    border: 0px solid #ffffff15;
    border-bottom-width: 2px;
    padding-bottom: 9px;
    background-color: #131313;
    padding-top: 5px;
}

.questions_block__form__input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.questions_block__form__input::placeholder{
    color: #ffffff;
    font-size: 14px;
}

/*  */

.questions_block__form_phoneform {
    display: grid;
    width: 246px;
    margin-top: 49px;
    font-size: 13px;
}

.questions_block__form__input{
    border: 0px solid #ffffff15;
    border-bottom-width: 2px;
    padding-bottom: 9px;
    background-color: #131313;
    padding-top: 5px;
}

.input__questionsform{
    width: 551px;
}

.questions_block__form__input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.questions_block__form__input::placeholder{
    color: #ffffff;
    font-size: 14px;
}

/*  */

.questions_block_questionform {
    display: grid;
    width: 435px;
    padding-top: 3.5%;
    font-size: 13px;
}



.questions_block__form__input{
    border: 0px solid #ffffff15;
    border-bottom-width: 2px;
    padding-bottom: 9px;
    background-color: #131313;
    padding-top: 5px;
    color: #fff;
}

.questions_block__form__input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;

}

.questions_block__form__input::placeholder{
    color: #ffffff;
    font-size: 14px;
}
    
/*  */

.questions_block_checkbox{
    margin-top: 8.4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions_blockthirdblock__checkbox__real-checkbox {
    width: 0;
	height: 0;
	opacity: 0;
	position: absolute;
	z-index: -1;
}

.thirdblock__checkbox__custom-checkbox {
    position: relative;
    display: inline-block;
    width: 19px;
    height: 19px;
    border: 1px solid #E3B873;
    border-radius: 1px;
    vertical-align: sub;
    background-color: #E3B873;
}

.thirdblock__checkbox__custom-checkbox::before {
    content: '';
    display: inline-block;
    width: 19px;
    height: 19px;
    background-image: url("icons/checkbox.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    margin-top: 1px;
    transition: 0.2s ease-in;
}

.thirdblock__checkbox__real-checkbox:checked + .thirdblock__checkbox__custom-checkbox::before {
	transform: translate(-50%, -50%) scale(1);
}

.tfifth_block__checkbox__label{
    font-size: 14px;
    color: #fff;
}

.questions_block_buttom{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 9.5%;
}

.questions_block__buttom__buttom{
    width: 210px;
    height: 54px;
    background-color:#E3B873;
    color: #fff;
    text-transform:uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border: none;
}


/* Map block */

.map_block{
    width: 100%;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%), url("img/13_bg_map.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.map_block__wrapper{
    padding: 18.5% 17.5% 4.6%;
    display: grid;
    justify-items: center;

}

.map_block__social{
    padding-top: 2.5%;
    width: 71px;
    display: flex;
    justify-content: space-between;
}

.map_block__address{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
}

.map_block__map{
    background-image: url("img/map.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 984px;
    height: 495px;
}


/* Footer */

.footer {
    display: flex;
    width: 100vw;
    height: 88.5px;
    min-height: 57px;
    background: #131313;
    color: #fff;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.footer__name {
    /* margin-left: 6.3%; */
    font-size: 69%;
    text-transform: uppercase;
    color: #E3B873;
}

.footer__menu {
    /* margin-left: 8.5%; */
    width: 40.3vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer__menu > li {
    display: inline-block;
    font-size: 69%;
    padding-left: 8.8%;
} 

.footer__menu > li:first-child {
    padding-left: 0%;
}

.footer__menu-item {
    text-decoration:none;
    color: #fff;
}

.footer__menu-item:hover {
    color: #E3B873;
}

.footer__phone {
    /* margin-left: 7.5%; */
    font-size: 69%;
    color: #E3B873;
    text-decoration: underline;
}

.footer__button{
    /* margin-right: 7.5%; */
    width: 11%;
    height: 46%;
    background: #E3B873;
    border: 0;
    border-radius: 2px;
}

.footer__button_title {
    font-size: 69%;
    font-style: italic;
    text-transform: uppercase;
    color: #fff;
}

.mobile_secondblock__online_control{
    display: none;
}

.video_conteiner_mobile{
    display: none;
}

.video_conteiner__video_mobile {
    display: none;
}

.gallery_block__mobile_gallery{
    display: none;
}

.gallery_block__mobile_gallery__arrows{
    display: none;
}
.gallery_block__mobile_gallery__arrows__left{
    display: none;
}
.gallery_block__mobile_gallery__arrows__right{
    display: none;
}
    

/* Media rules */


@media screen and (max-width: 1300px) {

body{
    overflow-x: scroll;
}

header{
    height: 57px;
}

/* Navigation */

    .headnav {
        height: 57px;
        width: 100vw;
        z-index: 3;
    }
    
    .headnav__name {
        padding-left: 4.8vw;
        font-size: 2.91vw;
    }
    
    .headnav__menu  {
        display: none;
    }
    
    
    .headnav__phone {
        padding-left: 17.9vw;
        font-size: 2.91vw;
        text-decoration: none;
        color: #fff;
    }
    
    .headnav__button{
        display: none;
    }


    /* Fistblock */


    .fistblock {
        width: 100vw;
        height: 600px;
        background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%), 
		url("img/1_kitchen_mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    .fistblock__items{
        color: #fff;
        padding-top: 23%;
        padding-left: 5%;
        max-height: 370px;
    }

    .fistblock__title{
        font-family: 'Yeseva One', serif;
        text-transform: uppercase;
    }

    .fistblock__title h1{
        font-size: 23px;
    }

    .fistblock__title__accent{
        color: #E3B873;
    }

    .fistblock__text{
        padding-top: 6%;
        line-height:163.7%;
        font-size: 14px;
        line-height: 190%;
    }

    .fistblock__buttons{
    padding-top: 5%;
    }

    .fistblock__fistbutton{
    color: #fff;
    margin-bottom: 26px;
    /* max-height: 3.51vh; */
    width: 96.7%;
    height: 51px;
    background: #E3B873;
    border: 0;
    border-radius: 2px;
    margin-right: 1vw;
    font-size: 11px;
}

    .fistblock__secondbutton{
    color: #fff;
    /* max-height: 3.51vh; */
    width: 96.7%;
    height: 51px;
    border: 1;
    border-color: #fff;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 11px;
}

    /* Secondblock */



.secondblock {
    width: 116vw;
    height: 870px;
    padding: 0 18px 0;
    display: grid;
    grid-template-columns: 340px;
    grid-template-rows: 119vh 263px;
    justify-items: center;
    position: static;

    /* justify-content: space-around; */
}

.secondblock__leftside {
    padding-top: 0.5%;
    width: 340px;
    height: 119vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-decoration: none;
    grid-column: span 2;

}

.secondblock__title{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Yeseva One', serif;
    color: #E3B873;
    text-decoration: none;
    line-height: 200%;
    letter-spacing: -1.7px;
    padding-top: 10%;
}

.secondblock__title h2{
    font-size: 22px;
}

.secondblock__text {
    text-align: center;
    font-size: 11px;
    padding: 3.5% 14.5px 0;
    letter-spacing: -1px;
    word-spacing: 3px;
    line-height: 180%;
    padding-bottom: 11.5%;
}

.secondblock__mobile_gallery{
    width: 340px;
    height: 241px;
    background-image: url("img/15_mobile_room.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    margin-top: 23px;
    position: sticky;
    justify-content: center;
    align-items: center;
}

.secondblock__mobile_gallery__arrows{
    width: 320px;
    height: 36px;
    top: 45%;
    left: 5%;
    display: flex;
    justify-content: space-between
}

.secondblock__mobile_gallery__arrows__left{
    height: 36px;
    width: 36px;
    background-image: url("icons/mobile left arrow.svg");
    background-size: contain;
}

.secondblock__mobile_gallery__arrows__right{
    height: 36px;
    width: 36px;
    background-image: url("icons/mobile right arrow.svg");
    background-size: contain;
}

.secondblock__items{
    padding-top: 36px;
    padding-bottom: 0px;
    width: 303px;
    display: grid;
    grid-template-columns: 99px 150px;
    grid-template-rows: repeat(2, 68px);
    grid-row-gap: 30px;
    grid-column-gap: 60px;
    position: static;
    align-self: start;
}

.secondblock__items__title{
    font-size: 14px;
    padding-bottom: 9%;
}

.secondblock__items__item__parafraph{
    font-size: 11px;
}

.secondblock__slider{
display: none;
}

.secondblock__rightside{
    display: none;
}


.mobile_secondblock__online_control{
color: #fff;
display: grid;
grid-template-rows: 30px 30px;
justify-items: center;
text-transform: uppercase;
font-family: 'Yeseva One', serif;
font-size: 115%;
padding-top: 10%;
}

.mobile_secondblock__online_control_img{
    padding-top: 4%;
    padding-right: 1%;
}

.secondblock__online_control{
    display: none;
}

.secondblock__online_control_img{
    display: none;
}




/* Video */
.video_conteiner{
    display: none;
}

.video_conteiner__video {
    display: none;

}

.video_conteiner_mobile{
    width: 116vw;
    display: flex;
    justify-content: center;
    /* position: relative; */
    background: #131313;}

.video_conteiner__video_mobile {
    display: block;
    height: 207px;
    width: 340px;
}



/* Third block */



.thirdblock {
    padding: 2%;
    width: 116vw;
    display: grid;
    grid-template-columns: minmax(375px, 430px);
    justify-items: center;
    background: #131313;
    color: #fff;
    position: static;
}

.thirdblock__line__conteiner{
    position: relative;
}

.thirdblock__line__item {
    width: 59px;
    height: 2px;
    margin: 0;
    border: none;
    color: #E3B873;
    background-color: #E3B873;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.thirdblock__text{
    width: 339px;
    margin-top: 2.5%;
    font-size: 11px;
    text-align: center;
    line-height: 169.8%;
}

/*  */

.thirdblock__forms {
    padding-top: 13%;
    width: 340px;
    flex-direction: column;
    align-content: center;
    display: grid;
    justify-content: center;
}

.thirdblock__nameform__form {
    display: grid;
    width: 340px;
}

.thirdblock__nameform__form__input{
    border: 0px solid #fff;
    border-bottom-width: 2px;
    padding-bottom: 9px;
    background-color: #131313;
    padding-top: 5px;
    color: #fff;
}

.thirdblock__nameform__form__input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.thirdblock__nameform__form__input::placeholder{
    color: #fff;
}

.thirdblock__phoneform__form {
    display: grid;
    width: 340px;

}

.thirdblock__phoneform__form__input {
    border: 0px solid #fff;
    border-bottom-width: 2px;
    padding-bottom: 9px;
    background-color: #131313;
    padding-top: 5px;
    color: #fff;
}

.thirdblock__phoneform__form__input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.thirdblock__phoneform__form__input::placeholder {
    color: #fff;
}

.thirdblock__phoneform__form {
    display: grid;
}

.thirdblock__form__label{
    color: rgba(255, 255, 255, 0.5);
}

.thirdblock__buttom{
    position: relative;
    top: 50%;
    order: 1;
}

.thirdblock__buttom__buttom{
    width: 340px;
    height: 55px;
    color: #fff;
    background-color: #E3B873;
    border: none;
    text-transform: uppercase;
    border-radius: 2px;
}



/* fourthblock */



.fourthblock{
    margin-top: 10%;
    width: 116vw;
    height: 1610px;
}

.fourthblock__types_of_repair_img{
    margin-top: 1%;
}

.fourthblock__types_of_repair{
    display: grid;
    grid-template-rows: 30px 30px;
    justify-items: center;
    text-transform: uppercase;
    font-family: 'Yeseva One', serif;
    font-size: 115%;
    width: 116vw;
}



.fourthblock__images{
    display: flex;
    flex-wrap: wrap;
    max-width: 440px;
    width: 116vw;
    flex-direction: column;
    justify-content: space-around;
    gap: 177.5px;
    margin: 3% 0 0 0;
    align-content: center;
}

 .fourthblock__images__item{
    width: 340px;
    height: 365px;
    position: static;
}

.images_item1{
    background-image: url("img/4,1_Redecorating.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.images_item2{
    background-image: url("img/4,2_Overhaul.jpg");
    background-repeat: no-repeat;
    background-size: contain;

}

.images_item3{
    background-image: url("img/4,3_Designer Repair.jpg");
    background-repeat: no-repeat;
    background-size: contain;

}

.fourthblock__lists{
    display: flex;
    flex-direction: column;
    padding: 0;
    bottom: -3400px;
    max-width: 340px;
    align-content: flex-start;
    gap: 295px;
    margin-left: 8.5%;
    position: absolute;
}



.fourthblock__lists__item{
    width: 270px;
    height: 241px;
}

.fourthblock__lists__item_title{
    font-size: 15px;

}

.fourthblock__lists__item li{
    font-size: 13px;

}

.fourthblock__titels{
    grid-template-columns: auto;
    grid-template-rows: repeat(3,420px);
    padding-left: 50px;
    top: -1018px;
    grid-gap: 122px;
    max-height: 1126px;
}


/* fifth block */

.fifth_block_wrapper{
    display: none;
}

/* gallery block */

.gallery_block{
    width: 116vw;
    margin-top:0;
}


.gallery_block_wrapper{
    margin-top: 15%;
    width: 116vw;
    display: block;
    background: none;
    height: auto;


}

.gallery_block_text{
    width: 116vw;
    padding: 0;
    margin-top: 5%;
    text-align: center;
    height: auto;

}


.gallery_block_text_list a{
    display: none;
}


.gallery_block_text_list li{
    display: none; 

}

.gallery_block_text_list li:hover{
    display: none;
}

.gallery_block_images{
    display: flex;
    align-items: center;
    justify-content: center;

}

.gallery_block_images_left_side{
    display: block
}

.gallery_block_images_right_side{
    display: none;
}

.gallery_block_item1{
    display: none;
 
}

.gallery_block_item2{
    display: none;
}

.gallery_block_item3{
    display: none;
}


.gallery_block_item4{
    display: none;
}

.gallery_block__mobile_gallery{
    width: 90vw;
    height: 37vh;
    background-image: url("img/17_mobile_clock.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    margin-top: 23px;
    position: sticky;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.gallery_block__mobile_gallery__arrows{
    width: 75vw;
    height: 36px;
    top: 45%;
    left: 5%;
    display: flex;
    justify-content: space-between
}

.gallery_block__mobile_gallery__arrows__left{
    display: block;
    height: 36px;
    width: 36px;
    background-image: url("icons/mobile left arrow.svg");
    background-size: contain;
}

.gallery_block__mobile_gallery__arrows__right{
    display: block;
    height: 36px;
    width: 36px;
    background-image: url("icons/mobile right arrow.svg");
    background-size: contain;
}

/* clients_block */


.clients_block{
    display: none;
}


/* questions_block */


.questions_block{
    width: 116vw;

}

.questions_block_wrapper{
    margin-top: 10%;
    width: 116vw;
    left: 0;
    height: 670px;
    /* z-index: -1; */
    padding: 7% 0 0;
}

.questions_block_title{
    padding-top: 180px;
    width: 116vw;
}

.questions_block_nameform_phoneform{
    flex-direction: column;
    padding-left: 12%;
}


.questions_block__form__input{
    width: 340px;
}


.questions_block_questionform {
width: 340px;
padding-left: 12%;
}


.questions_block__buttom__buttom{
    width: 340px;
}


/* map block */


.map_block{
    background-color: #131313;
    margin-top: 400px;
}

.map_block__wrapper{
background-color: #131313;
padding-left: 0;
padding-right: 0;

}

.map_block__social{
    order: 2;

}

.map_block__address{
    order: 1;
    font-size: 18px;
    padding-left: 33px;
    padding-right: 33px;


}

.map_block__map{
width: 340px;
height: 255px;
}

/* footer */

.footer{
    display: none;
}
}
